{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
    },
    "extends": ["google", "plugin:prettier/recommended", "prisma"],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "commonjs"
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "parser": "flow"
            }
        ]
    }
}
